---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: "${APP}-map-volsync"
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: bitwarden-secretsmanager
  target:
    name: "${APP}-map-volsync-secret"
    template:
      data:
        admin-user: "{{ .TLS_PSK }}"
  data:
  - secretKey: TLS_PSK
    remoteRef:
      key: "6e6753b3-e53b-4901-86cb-b2fe00300424"