---
apiVersion: volsync.backube/v1alpha1
kind: ReplicationDestination
metadata:
  name: "${APP}-map-dst"
  labels:
    kustomize.toolkit.fluxcd.io/ssa: IfNotPresent
spec:
  rsyncTLS:
    copyMethod: Snapshot
    capacity: 5Gi
    accessModes:
      - ReadWriteOnce
    storageClassName: ceph-block
    volumeSnapshotClassName: csi-ceph-blockpool