---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: kube-system
components:
  - ../../components/common
resources:
  - ./cilium/ks.yaml
  - ./coredns/ks.yaml
  - ./metrics-server/ks.yaml
  - ./multus/ks.yaml
  - ./reloader/ks.yaml
  # - ./spegel/ks.yaml
  - ./reflector/ks.yaml
  - ./netboot/ks.yaml
  - ./node-feature-discovery/ks.yaml
  - ./snapshot-controller/ks.yaml
