---
theme: dark

server:
  address: 'tcp4://:9091'
  buffers:
    write: 4096
    read: 8192

log:
  level: warn

authentication_backend:
  password_reset:
    disable: false
  refresh_interval: 1m
  ldap:
    implementation: custom
    address: 'ldap://lldap.auth.svc.cluster.local:3890'
    timeout: 5s
    start_tls: false
    base_dn: '{{ secret "/secrets/authelia/LDAP_BASE_DN" }}'
    additional_users_dn: 'ou=people'
    users_filter: '(&({username_attribute}={input})(objectClass=person))'
    additional_groups_dn: 'ou=groups'
    groups_filter: '(member={dn})'
    attributes:
      display_name: displayName
      username: uid
      group_name: cn
      mail: mail
    user: 'uid=authelia,ou=people,{{ secret "/secrets/authelia/LDAP_BASE_DN" }}'

access_control:
  default_policy: deny
  rules:
    - domain:
        - 'frigate.${SECRET_DOMAIN}'
      subject:
        - 'group:security'
      policy: two_factor
    - domain:
        - 'books.${SECRET_DOMAIN}'
        - 'audiobookshelf.${SECRET_DOMAIN}'
        - 'shelfmark.${SECRET_DOMAIN}'
      subject:
        - 'group:books'
      policy: two_factor
    - domain:
        - '${SECRET_DOMAIN}'
        - '*.${SECRET_DOMAIN}'
      subject:
        - 'group:admins'
      policy: two_factor
    - domain:
        - '${SECRET_DOMAIN_2}'
        - '*.${SECRET_DOMAIN_2}'
      subject:
        - 'group:admins'
      policy: two_factor

session:
  name: authelia_session
  expiration: 3600
  inactivity: 300
  cookies:
    - domain: '${SECRET_DOMAIN}'
      authelia_url: 'https://auth.${SECRET_DOMAIN}'
      default_redirection_url: 'https://gatus.${SECRET_DOMAIN}'
    - domain: '${SECRET_DOMAIN_2}'
      authelia_url: 'https://auth.${SECRET_DOMAIN_2}'
      default_redirection_url: 'https://www.${SECRET_DOMAIN_2}'

regulation:
  max_retries: 3
  find_time: 120
  ban_time: 300

storage:
  postgres:
    address: 'tcp://authelia-pg-rw:5432'
    database: authelia
    username: authelia

notifier:
  disable_startup_check: false
  smtp:
    username: '{{ secret "/secrets/authelia/SMTP_USERNAME" }}'
    address: 'submission://smtp.gmail.com:587'
    sender: 'admin@${SECRET_DOMAIN}'

totp:
  issuer: 'auth.${SECRET_DOMAIN}'
  period: 30
  skew: 2

identity_providers:
  oidc:
    hmac_secret: 'secret'
    jwks:
      - algorithm: 'RS256'
        use: 'sig'
        key: |
          {{ secret "/secrets/authelia/OIDC_JWKS_KEY" | mindent 10 "|" | msquote }}
    lifespans:
      access_token: 1h
      authorize_code: 1m
      id_token: 1h
      refresh_token: 90m
    cors:
      endpoints:
        - 'authorization'
        - 'token'
        - 'revocation'
        - 'introspection'
        - 'userinfo'
      allowed_origins_from_client_redirect_uris: true
    claims_policies:
      booklore:
        id_token: ['email', 'preferred_username', 'name']
    clients:
      - client_id: audiobookshelf
        client_name: audiobookshelf
        client_secret: '{{ secret "/secrets/authelia/AUDIOBOOKSHELF_CLIENT_SECRET" }}'
        public: false
        authorization_policy: two_factor
        consent_mode: implicit
        scopes:
          - openid
          - groups
          - email
          - profile
        redirect_uris:
          - 'https://audiobookshelf.${SECRET_DOMAIN}/auth/openid/callback'
          - 'https://audiobookshelf.${SECRET_DOMAIN}/auth/openid/mobile-redirect'
          - 'audiobookshelf://oauth'
      - client_id: booklore
        claims_policy: booklore
        client_name: Booklore
        public: true
        authorization_policy: two_factor
        require_pkce: true
        consent_mode: implicit
        response_types:
          - code
        scopes:
          - openid
          - offline_access
          - profile
          - email
        redirect_uris:
          - 'https://books.${SECRET_DOMAIN}/api/oidc'
          - 'https://books.${SECRET_DOMAIN}/oauth2-callback'
        grant_types:
          - authorization_code
          - refresh_token
        access_token_signed_response_alg: 'none'
        userinfo_signed_response_alg: 'none'
        token_endpoint_auth_method: 'none'
        pkce_challenge_method: S256
      - client_id: shelfmark
        client_name: Shelfmark
        client_secret: '{{ secret "/secrets/authelia/SHELFMARK_CLIENT_SECRET" }}'
        public: false
        authorization_policy: two_factor
        consent_mode: implicit
        scopes:
          - openid
          - groups
          - email
          - profile
        redirect_uris:
          - 'https://shelfmark.${SECRET_DOMAIN}/api/auth/oidc/callback'
