---
apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
  name: minecraft
spec:
  interval: 5m
  layerSelector:
    mediaType: application/vnd.cncf.helm.chart.content.v1.tar+gzip
    operation: copy
  ref:
    tag: 4.26.4
  url: oci://ghcr.io/itzg/minecraft-server-charts/minecraft
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app playground
  namespace: &namespace minecraft
spec:
  dependsOn:
    - name: mc-router
  components:
    - ../../../../components/volsync
    - ../common
  interval: 1h
  path: ./kubernetes/apps/minecraft/servers/playground
  postBuild:
    substituteFrom:
      - name: cluster-secrets
        kind: Secret
      - name: mc-users-secret
        kind: Secret
    substitute:
      APP: *app
      VOLSYNC_CAPACITY: 5Gi
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: *namespace
  wait: false
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app vintage
  namespace: &namespace minecraft
spec:
  dependsOn:
    - name: mc-router
  components:
    - ../../../../components/volsync
    - ../common
  interval: 1h
  path: ./kubernetes/apps/minecraft/servers/vintage
  postBuild:
    substituteFrom:
      - name: cluster-secrets
        kind: Secret
      - name: mc-users-secret
        kind: Secret
    substitute:
      APP: *app
      VOLSYNC_CAPACITY: 5Gi
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: *namespace
  wait: false
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app oceanblock
  namespace: &namespace minecraft
spec:
  dependsOn:
    - name: mc-router
  components:
    - ../../../../components/volsync
    - ../common
  interval: 1h
  path: ./kubernetes/apps/minecraft/servers/oceanblock
  postBuild:
    substituteFrom:
      - name: cluster-secrets
        kind: Secret
      - name: mc-users-secret
        kind: Secret
    substitute:
      APP: *app
      VOLSYNC_CAPACITY: 20Gi
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: *namespace
  wait: false
# ---
# apiVersion: kustomize.toolkit.fluxcd.io/v1
# kind: Kustomization
# metadata:
#   name: &app vaulthunters
#   namespace: &namespace minecraft
# spec:
#   dependsOn:
#     - name: mc-router
#   components:
#     - ../../../../components/volsync
#     - ../common
#   interval: 1h
#   path: ./kubernetes/apps/minecraft/servers/vaulthunters
#   postBuild:
#     substituteFrom:
#       - name: cluster-secrets
#         kind: Secret
#       - name: mc-users-secret
#         kind: Secret
#       - name: mc-server-secret
#         kind: Secret
#     substitute:
#       APP: *app
#       VOLSYNC_CAPACITY: 20Gi
#   prune: true
#   sourceRef:
#     kind: GitRepository
#     name: flux-system
#     namespace: flux-system
#   targetNamespace: *namespace
#   wait: false