---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: alertmanager
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: bitwarden-secretsmanager
  target:
    name: alertmanager-secret
    template:
      data:
        ALERTMANAGER_HEARTBEAT_URL: "{{ .ALERTMANAGER_HEARTBEAT_URL }}"
        ALERTMANAGER_PUSHOVER_TOKEN: "{{ .ALERTMANAGER_PUSHOVER_TOKEN }}"
        PUSHOVER_USER_KEY: "{{ .PUSHOVER_USER_KEY }}"
  data:
  - secretKey: ALERTMANAGER_HEARTBEAT_URL
    remoteRef:
      key: "1e6e4206-bdf7-46f9-9e63-b2fa0066a467"
  - secretKey: ALERTMANAGER_PUSHOVER_TOKEN
    remoteRef:
      key: "ebe80319-886a-429b-8c6e-b2fa0067faa8"
  - secretKey: PUSHOVER_USER_KEY
    remoteRef:
      key: "676f2b66-5393-43b0-828d-b2fa0067b894"