---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: lldap
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: bitwarden-secretsmanager
  target:
    name: lldap-secret
    template:
      data:
        LLDAP_JWT_SECRET: "{{ .LLDAP_JWT_SECRET }}"
        LLDAP_KEY_SEED: "{{ .LLDAP_KEY_SEED }}"
        LLDAP_LDAP_BASE_DN: "{{ .LDAP_BASE_DN }}"
  data:
    - secretKey: LLDAP_JWT_SECRET
      remoteRef:
        key: "470e6bc5-5830-4ea5-b812-b3fa008dee77"
    - secretKey: LLDAP_KEY_SEED
      remoteRef:
        key: "c3e0722f-3db4-40f2-bab7-b3fa008e2cb8"
    - secretKey: LDAP_BASE_DN
      remoteRef:
        key: "0f9feb59-aa16-4be5-8e03-b3fa009360a5"
