---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: lldap
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
  interval: 1h
  values:
    controllers:
      lldap:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: lldap/lldap
              tag: v0.6.2
            env:
              TZ: America/Chicago
              LLDAP_LDAP_BASE_DN:
                valueFrom:
                  secretKeyRef:
                    name: lldap-secret
                    key: LLDAP_LDAP_BASE_DN
              LLDAP_HTTP_PORT: &http 17170
              LLDAP_LDAP_PORT: &ldap 3890
              LLDAP_DATABASE_URL:
                valueFrom:
                  secretKeyRef:
                    name: lldap-pg-app
                    key: uri
              LLDAP_JWT_SECRET:
                valueFrom:
                  secretKeyRef:
                    name: lldap-secret
                    key: LLDAP_JWT_SECRET
              LLDAP_KEY_SEED:
                valueFrom:
                  secretKeyRef:
                    name: lldap-secret
                    key: LLDAP_KEY_SEED
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /health
                    port: *http
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: false
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 128Mi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
    service:
      app:
        controller: lldap
        ports:
          ldap:
            port: *ldap
          http:
            port: *http
    persistence:
      data:
        type: emptyDir
        globalMounts:
          - path: /data
    route:
      app:
        hostnames:
          - "lldap.${SECRET_DOMAIN}"
        parentRefs:
          - name: envoy-internal
            namespace: network
            sectionName: https
        rules:
          - backendRefs:
              - identifier: app
                port: *http
