---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: cloudflare-dns
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: bitwarden-secretsmanager
  target:
    name: cloudflare-dns-secret
    template:
      data:
        api-token: "{{ .CLOUDFLARE_TOKEN }}"
  data:
  - secretKey: CLOUDFLARE_TOKEN
    remoteRef:
      key: "39de3f02-9cf0-458f-8282-b2ed005f987e"