---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: ${APP}-mc
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: minecraft
  values:
    resources:
      requests:
        cpu: 512m
        memory:  1000Mi
    workloadAsStatefulSet: true
    strategyType: RollingUpdate
    serviceAnnotations:
      mc-router.itzg.me/externalServerName: ${APP}.mc.${SECRET_DOMAIN}
      reloader.stakater.com/auto: "true"
    minecraftServer:
      eula: "TRUE"
      type: "FABRIC"
      version: "1.21.5"
      difficulty: normal
      forcegameMode: true
      gameMode: creative
      memory: ""
      whitelist: ${WHITELIST}
      ops: ${OPS}
      modrinth:
        projects:
          - fabric-api
          - chunky
          - bluemap
      extraPorts:
        - name: map
          containerPort: 8100
          protocol: TCP
          service:
            enabled: true
            type: ClusterIP
            port: 8100
    persistence:
      dataDir:
        enabled: true
        existingClaim: ${APP}
    extraVolumes:
      - volumeMounts:
          - name: bluemap-config
            mountPath: /data/config/bluemap/core.conf
            subPath: core.conf
        volumes:
          - name: bluemap-config
            configMap:
              name: bluemap-config
    extraDeploy:
      - |
        apiVersion: v1
        kind: ConfigMap
        metadata:
          name: bluemap-config # Will be prefixed
        data:
          core.conf: |
            accept-download: true
            data: "/data/bluemap/web"
            render-thread-count: 2