---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: qbittorrent
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
  interval: 1h
  timeout: 15m
  values:
    controllers:
      qbittorrent:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/home-operations/qbittorrent-libtorrentv1
              tag: 5.1.4
            env:
              TZ: America/Chicago
              QBT_TORRENTING_PORT: "58846"
              QBT_WEBUI_PORT: &port 8080
            ports:
              - containerPort: *port
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /api/v2/app/version
                    port: *port
                  initialDelaySeconds: 30
                  periodSeconds: 10
                  timeoutSeconds: 5
                  failureThreshold: 5
              readiness: *probes
            resources:
              requests:
                cpu: 50m
              limits:
                memory: 1Gi
    defaultPodOptions:
      annotations:
        k8s.v1.cni.cncf.io/networks: |
          [{
            "name": "vpn",
            "default-route": ["192.168.70.1"]
          }]
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: kubernetes.io/hostname
                    operator: In
                    values:
                      - dvergar-03
                      - dvergar-04
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        controller: qbittorrent
        ports:
          http:
            primary: true
            port: *port
    route:
      app:
        hostnames:
          - "qbittorrent.${SECRET_DOMAIN}"
        parentRefs:
          - name: envoy-internal
            namespace: network
            sectionName: https
        rules:
          - backendRefs:
              - identifier: app
                port: *port
    persistence:
      config:
        existingClaim: qbittorrent
        advancedMounts:
          qbittorrent:
            app:
              - path: /config
      downloads:
        type: nfs
        server: snotra.internal
        path: /mnt/disks/85AAZU6GS/cluster/downloads
        advancedMounts:
          qbittorrent:
            app:
              - path: /downloads
      books:
        type: nfs
        server: snotra.internal
        path: /mnt/user/Media/Books
        advancedMounts:
          qbittorrent:
            app:
              - path: /books
      audiobooks:
        type: nfs
        server: snotra.internal
        path: /mnt/user/Media/Audiobooks
        advancedMounts:
          qbittorrent:
            app:
              - path: /audiobooks
      tmp:
        type: emptyDir
        advancedMounts:
          qbittorrent:
            app:
              - path: /tmp
