---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: authelia
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: bitwarden-secretsmanager
  target:
    name: authelia-secret
    template:
      data:
        JWT_SECRET: "{{ .JWT_SECRET }}"
        SESSION_SECRET: "{{ .SESSION_SECRET }}"
        ENCRYPTION_KEY: "{{ .ENCRYPTION_KEY }}"
        SMTP_PASSWORD: "{{ .SMTP_PASSWORD }}"
        LDAP_PASSWORD: "{{ .LDAP_PASSWORD }}"
        OIDC_JWKS_KEY: "{{ .OIDC_JWKS_KEY }}"
        AUDIOBOOKSHELF_CLIENT_SECRET: "{{ .AUDIOBOOKSHELF_CLIENT_SECRET }}"
        SHELFMARK_CLIENT_SECRET: "{{ .SHELFMARK_CLIENT_SECRET }}"
        SMTP_USERNAME: "{{ .SMTP_USERNAME }}"
        LDAP_BASE_DN: "{{ .LDAP_BASE_DN }}"
  data:
    - secretKey: JWT_SECRET
      remoteRef:
        key: "b66fed25-1738-462a-a97b-b3fa008ec071"
    - secretKey: SESSION_SECRET
      remoteRef:
        key: "f7a83a39-f9b9-4de9-8c18-b3fa008ee541"
    - secretKey: ENCRYPTION_KEY
      remoteRef:
        key: "d702a544-91c3-4cb5-8344-b3fa008efcba"
    - secretKey: SMTP_PASSWORD
      remoteRef:
        key: "ca744489-0119-4452-b801-b3fa008f13da"
    - secretKey: LDAP_PASSWORD
      remoteRef:
        key: "214d9eb4-5686-4ac3-a06c-b3fa008f2785"
    - secretKey: OIDC_JWKS_KEY
      remoteRef:
        key: "3867329e-acfa-49dc-a655-b3fa008fc237"
    - secretKey: AUDIOBOOKSHELF_CLIENT_SECRET
      remoteRef:
        key: "ebb701cf-3146-4ad6-836f-b3fa008ff08a"
    - secretKey: SHELFMARK_CLIENT_SECRET
      remoteRef:
        key: "a03e53fe-4c00-43be-af34-b400007db0f0"
    - secretKey: SMTP_USERNAME
      remoteRef:
        key: "bd706631-16f1-481d-aeb0-b3fa00901c85"
    - secretKey: LDAP_BASE_DN
      remoteRef:
        key: "0f9feb59-aa16-4be5-8e03-b3fa009360a5"
