---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./helmrelease.yaml
  - ./externalsecret.yaml
configMapGenerator:
  - name: authelia-config
    files:
      - configuration.yml=./resources/configuration.yml
generatorOptions:
  disableNameSuffixHash: true
