---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: shelfmark
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
  interval: 1h
  values:
    controllers:
      shelfmark:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/calibrain/shelfmark
              tag: v1.1.2
            env:
              TZ: America/Chicago
            envFrom:
              - secretRef:
                  name: shelfmark-secret
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /
                    port: &port 8084
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 512Mi
    service:
      app:
        controller: shelfmark
        ports:
          http:
            primary: true
            port: *port
    route:
      app:
        hostnames:
          - "shelfmark.${SECRET_DOMAIN}"
        parentRefs:
          - name: envoy-internal
            namespace: network
            sectionName: https
        rules:
          - backendRefs:
              - identifier: app
                port: *port
    persistence:
      config:
        existingClaim: shelfmark
        globalMounts:
          - path: /config
      downloads:
        type: nfs
        server: snotra.internal
        path: /mnt/disks/85AAZU6GS/cluster/downloads
        globalMounts:
          - path: /downloads
