---
apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
  name: barman-cloud
spec:
  interval: 5m
  layerSelector:
    mediaType: application/vnd.cncf.helm.chart.content.v1.tar+gzip
    operation: copy
  ref:
    tag: 0.5.0
  url: oci://ghcr.io/cloudnative-pg/charts/plugin-barman-cloud
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: barman-cloud
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: barman-cloud
  values:
    crds:
      enabled: true
    cert-manager:
      enabled: false
