---
machine:
  type: worker
  install:
    diskSelector:
      serial: "IB25ZD0256P00351"
  network:
    hostname: dvergar-03
    interfaces:
      - interface: mgmt0
        dhcp: false
        addresses:
          - 192.168.100.23/24
        routes:
          - network: 0.0.0.0/0
            gateway: 192.168.100.1
        mtu: 1500
        vlans:
          - vlanId: 70
            dhcp: false
      - interface: ceph0
        dhcp: false
        mtu: 9000
        addresses:
          - 10.10.10.23/24
---
apiVersion: v1alpha1
kind: LinkAliasConfig
name: mgmt0
selector:
  match: mac(link.permanent_addr) == "d8:9e:f3:9a:f8:4d"
