---
machine:
  type: worker
  install:
    diskSelector:
      serial: IB25ZD0256*
  network:
    hostname: dvergar-05
    interfaces:
      - interface: mgmt0
        dhcp: false
        addresses:
          - 192.168.100.25/25
        routes:
          - network: 0.0.0.0/0
            gateway: 192.168.100.1
        mtu: 1500
        vlans:
          - vlanId: 70
            dhcp: false
      - interface: ceph0
        dhcp: false
        mtu: 9000
        addresses:
          - 10.10.10.25/24
  nodeLabels:
    clusterrole: highspeed
---
apiVersion: v1alpha1
kind: LinkAliasConfig
name: mgmt0
selector:
  match: mac(link.permanent_addr) == "6c:2b:59:e4:ca:c8"
