---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: netboot
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controllers:
      netboot:
        type: statefulset
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/netbootxyz/netbootxyz
              tag: latest
            env:
              MENU_VERSION: "2.0.84"
              WEB_APP_PORT: &port 3000
              TFTPD_OPTS: --tftp-single-port
            resources:
              requests:
                cpu: 100m
              limits:
                memory: 1024Mi
    service:
      app:
        controller: netboot
        ports:
          menu:
            port: *port
      tftp:
        controller: netboot
        type: LoadBalancer
        loadBalancerIP: 192.168.100.19
        ports:
          tftp:
            port: 69
            protocol: UDP
    serviceMonitor:
      app:
        serviceName: netboot
        endpoints:
          - port: menu
    route:
      app:
        hostnames: ["{{ .Release.Name }}.${SECRET_DOMAIN}"]
        parentRefs:
          - name: envoy-internal
            namespace: network
            sectionName: https
        rules:
          - backendRefs:
              - identifier: app
                port: *port
