---
apiVersion: externaldns.k8s.io/v1alpha1
kind: DNSEndpoint
metadata:
  name: cloudflare-tunnel
spec:
  endpoints:
    - dnsName: "external.${SECRET_DOMAIN}"
      recordType: CNAME
      targets: ["cdcb1276-9d36-40e8-99a2-cbcb3fd0a80c.cfargotunnel.com"]
    - dnsName: "external.${SECRET_DOMAIN_2}"
      recordType: CNAME
      targets: ["cdcb1276-9d36-40e8-99a2-cbcb3fd0a80c.cfargotunnel.com"]
