---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: cloudflare-tunnel
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: bitwarden-secretsmanager
  target:
    name: cloudflare-tunnel-secret
    template:
      data:
        TUNNEL_TOKEN: "{{ .CLOUDFLARE_TUNNEL }}"
  data:
  - secretKey: CLOUDFLARE_TUNNEL
    remoteRef:
      key: "cc060dac-6eb2-4833-bda3-b3010052afdf"