---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: mariadb
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
  interval: 1h
  values:
    controllers:
      mariadb:
        type: statefulset
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: mariadb
              tag: 11.8.6
            env:
              TZ: America/Chicago
              MARIADB_DATABASE: booklore
              MARIADB_USER: booklore
              MARIADB_ROOT_PASSWORD:
                valueFrom:
                  secretKeyRef:
                    name: mariadb-secret
                    key: MARIADB_ROOT_PASSWORD
              MARIADB_PASSWORD:
                valueFrom:
                  secretKeyRef:
                    name: mariadb-secret
                    key: MARIADB_PASSWORD
            probes:
              liveness:
                enabled: true
                custom: true
                spec:
                  exec:
                    command: ["healthcheck.sh", "--connect", "--innodb_initialized"]
                  initialDelaySeconds: 30
                  periodSeconds: 10
                  timeoutSeconds: 5
                  failureThreshold: 3
              readiness:
                enabled: true
                custom: true
                spec:
                  exec:
                    command: ["healthcheck.sh", "--connect", "--innodb_initialized"]
                  initialDelaySeconds: 5
                  periodSeconds: 10
                  timeoutSeconds: 5
                  failureThreshold: 3
            resources:
              requests:
                cpu: 50m
              limits:
                memory: 512Mi
    defaultPodOptions:
      securityContext:
        runAsUser: 999
        runAsGroup: 999
        fsGroup: 999
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        controller: mariadb
        ports:
          mysql:
            port: 3306
    persistence:
      data:
        existingClaim: mariadb
        globalMounts:
          - path: /var/lib/mysql
