---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: abiotic
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: bitwarden-secretsmanager
  target:
    name: abiotic-secret
    template:
      data:
        SERVER_PASSWORD: "{{ .PASSWORD }}"
  data:
  - secretKey: PASSWORD
    remoteRef:
      key: "de560b59-96f3-4a21-bba5-b3260118d145"