---
apiVersion: externaldns.k8s.io/v1alpha1
kind: DNSEndpoint
metadata:
  name: ${APP}-mc
spec:
  endpoints:
    - dnsName: "${APP}.mc.${SECRET_DOMAIN}"
      recordType: CNAME
      targets: ["mc.${SECRET_DOMAIN}"]
      providerSpecific:
        - name: external-dns.alpha.kubernetes.io/cloudflare-proxied
          value: 'false'