---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: ${APP}-map
spec:
  hostnames: ["${APP}.${SECRET_DOMAIN}"]
  parentRefs:
    - name: envoy-external
      namespace: network
      sectionName: https
  rules:
    - backendRefs:
        - name: ${APP}-mc-minecraft-map
          namespace: minecraft
          port: 8100
