---
# yaml-language-server: $schema=https://github.com/datreeio/CRDs-catalog/raw/refs/heads/main/postgresql.cnpg.io/cluster_v1.json
apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: lldap-pg
  annotations:
    cnpg.io/skipEmptyWalArchiveCheck: "enabled"
spec:
  instances: 1
  imageName: ghcr.io/cloudnative-pg/postgresql:17
  enableSuperuserAccess: true
  superuserSecret:
    name: lldap-pg-superuser
  storage:
    size: 5Gi
    storageClass: ceph-block
  resources:
    limits:
      memory: 256Mi
    requests:
      cpu: 50m
  # After first ScheduledBackup completes, change bootstrap to:
  #   bootstrap:
  #     recovery:
  #       source: lldap-pg-v1
  # and remove the unraid-lldap-pg externalCluster entry.
  bootstrap:
    initdb:
      database: lldap
      owner: lldap
      import:
        type: microservice
        databases:
          - lldap
        source:
          externalCluster: unraid-lldap-pg
  plugins:
    - name: barman-cloud.cloudnative-pg.io
      isWALArchiver: true
      parameters:
        barmanObjectName: lldap-pg-backup
        serverName: lldap-pg-v1
  externalClusters:
    - name: unraid-lldap-pg
      connectionParameters:
        host: "192.168.20.204"
        user: lldap
        dbname: lldap
      password:
        name: lldap-cnpg-secret
        key: UNRAID_PG_PASSWORD
    - name: lldap-pg-v1
      plugin:
        name: barman-cloud.cloudnative-pg.io
        parameters:
          barmanObjectName: lldap-pg-backup
          serverName: lldap-pg-v1
---
apiVersion: barmancloud.cnpg.io/v1
kind: ObjectStore
metadata:
  name: lldap-pg-backup
spec:
  retentionPolicy: "15d"
  configuration:
    destinationPath: "s3://cnpg/lldap/"
    endpointURL: "http://snotra.internal:3900"
    s3Credentials:
      region:
        name: lldap-cnpg-secret
        key: AWS_REGION
      accessKeyId:
        name: lldap-cnpg-secret
        key: AWS_ACCESS_KEY_ID
      secretAccessKey:
        name: lldap-cnpg-secret
        key: AWS_SECRET_ACCESS_KEY
  instanceSidecarConfiguration:
    env:
      - name: AWS_REQUEST_CHECKSUM_CALCULATION
        value: when_required
      - name: AWS_RESPONSE_CHECKSUM_VALIDATION
        value: when_required
---
apiVersion: postgresql.cnpg.io/v1
kind: ScheduledBackup
metadata:
  name: lldap-pg
spec:
  backupOwnerReference: self
  cluster:
    name: lldap-pg
  schedule: "0 0 2 * * *"
  immediate: true
  method: plugin
  pluginConfiguration:
    name: barman-cloud.cloudnative-pg.io
