---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: lldap-cnpg
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: bitwarden-secretsmanager
  target:
    name: lldap-cnpg-secret
    template:
      data:
        AWS_REGION: garage
        AWS_ACCESS_KEY_ID: "{{ .GARAGE_ACCESS_KEY_ID }}"
        AWS_SECRET_ACCESS_KEY: "{{ .GARAGE_SECRET_ACCESS_KEY }}"
        UNRAID_PG_PASSWORD: "{{ .UNRAID_PG_PASSWORD }}"
  data:
    - secretKey: GARAGE_ACCESS_KEY_ID
      remoteRef:
        key: "98ff717f-76c7-4bba-8f96-b3fa0075db66"
    - secretKey: GARAGE_SECRET_ACCESS_KEY
      remoteRef:
        key: "7917e6a9-f031-4ce6-95c9-b3fa0075f3c7"
    - secretKey: UNRAID_PG_PASSWORD
      remoteRef:
        key: "c7933be0-461b-4678-a404-b3fa008e459b"
