---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: multus
spec:
  chartRef:
    kind: OCIRepository
    name: multus
  interval: 1h
  values:
    image:
      repository: ghcr.io/k8snetworkplumbingwg/multus-cni
      tag: v4.1.4-thick
    cni:
      paths:
        bin: /opt/cni/bin
        config: /etc/cni/net.d
    hostPaths:
      netns: /var/run/netns
  postRenderers:
    - kustomize:
        patches:
          - target:
              kind: DaemonSet
              name: multus
            patch: |
              apiVersion: apps/v1
              kind: DaemonSet
              metadata:
                name: multus
              spec:
                template:
                  spec:
                    containers:
                      - name: multus
                        volumeMounts:
                          - name: host-run-netns
                            mountPath: /run/netns
                            mountPropagation: HostToContainer
                    volumes:
                      - name: host-run-netns
                        hostPath:
                          path: /var/run/netns/
