---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: external-dns-opnsense
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: bitwarden-secretsmanager
  target:
    name: external-dns-opnsense-secret
    template:
      data:
        api-key: "{{ .API_KEY }}"
        api-secret: "{{ .API_SECRET }}"
  data:
  - secretKey: API_KEY
    remoteRef:
      key: "3bdc4187-1cb6-4dac-af41-b2f600457138"
  - secretKey: API_SECRET
    remoteRef:
      key: "3838ed21-8b14-4e8d-b0b7-b2f6004584c4"