---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app opnsense-dns
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: opnsense-dns
  values:
    fullnameOverride: *app
    logLevel: debug
    provider:
      name: webhook
      webhook:
        image:
          repository: ghcr.io/crutonjohn/external-dns-opnsense-webhook
          tag: v1.0.0
        env:
          - name: LOG_LEVEL
            value: debug
          - name: OPNSENSE_HOST
            value: https://heimdall.internal.theiam79.com # replace with the address to your OPNsense router
          - name: OPNSENSE_SKIP_TLS_VERIFY
            value: "false"
          - name: OPNSENSE_API_KEY
            valueFrom:
              secretKeyRef:
                name: &secret external-dns-opnsense-secret
                key: api-key
          - name: OPNSENSE_API_SECRET
            valueFrom:
              secretKeyRef:
                name: *secret
                key: api-secret
        annotations:
          externaldns.alpha.kubernetes.io/type: 'A'
    extraArgs:
      - --ignore-ingress-tls-spec
      - --crd-source-apiversion=externaldns.k8s.io/v1alpha1
      - --crd-source-kind=DNSEndpoint
      - --gateway-name=envoy-internal
    triggerLoopOnEvent: true
    policy: sync
    sources: ["gateway-httproute", "service"]
    registry: noop
    domainFilters: ["${SECRET_DOMAIN}"]
    serviceMonitor:
      enabled: true
    podAnnotations:
      secret.reloader.stakater.com/reload: *secret
