# ---
# # apiVersion: gateway.networking.k8s.io/v1
# kind: HTTPRoute
# metadata:
#   name: mc-router
# spec:
#   hostnames: ["minecraft.${SECRET_DOMAIN}"]
#   parentRefs:
#     - name: internal
#       namespace: kube-system
#       sectionName: https
#   rules:
#     - backendRefs:
#         - name: mc-router
#           port: 8080
---
apiVersion: externaldns.k8s.io/v1alpha1
kind: DNSEndpoint
metadata:
  name: mc-router
spec:
  endpoints:
    - dnsName: "mc.${SECRET_DOMAIN}"
      recordType: CNAME
      targets: ["ipv4.${SECRET_DOMAIN}"]
      providerSpecific:
        - name: external-dns.alpha.kubernetes.io/cloudflare-proxied
          value: 'false'