---
apiVersion: postgresql.cnpg.io/v1
kind: ScheduledBackup
metadata:
  name: "${APP}-pg"
spec:
  backupOwnerReference: self
  cluster:
    name: "${APP}-pg"
  schedule: "0 0 2 * * *"
  immediate: true
  method: plugin
  pluginConfiguration:
    name: barman-cloud.cloudnative-pg.io
